@font-face {
  font-family: "Rubik Light";
  src: url("https://fonts.googleapis.com/css?family=Rubik:wght@300");
}

@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css?family=Rubik:wght@400");
}

@font-face {
  font-family: "Rubik Medium";
  src: url("https://fonts.googleapis.com/css?family=Rubik:wght@500");
}

@font-face {
  font-family: "Rubik Bold";
  src: url("https://fonts.googleapis.com/css?family=Rubik:wght@700");
}

@font-face {
  font-family: "Rubik ExtraBold";
  src: url("https://fonts.googleapis.com/css?family=Rubik:wght@800");
}

/* INTER */

@font-face {
  font-family: "Inter Light";
  src: url("../fonts/Inter/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter ExtraBold";
  src: url("../fonts/Inter/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter Black";
  src: url("../fonts/Inter/Inter-Black.ttf");
}

@font-face {
  font-family: "Schoolbell";
  src: url("../fonts/Schoolbell/Schoolbell-Regular.ttf");
}

html {
  -moz-osx-font-smoothing: grayscale !important; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased !important; /*(For Chrome and Safari)*/
}

/* ! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #eeeeee; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */ /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #bdbdbd; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container {
  width: 100%;
}
@media (min-width: 400px) {

  .container {
    max-width: 400px;
  }
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1340px) {

  .container {
    max-width: 1340px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
@media (min-width: 1600px) {

  .container {
    max-width: 1600px;
  }
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.inset-x-0 {
  left: 0;
  right: 0;
}
.inset-y-0 {
  top: 0;
  bottom: 0;
}
.bottom-0 {
  bottom: 0;
}
.top-0 {
  top: 0;
}
.left-auto {
  left: auto;
}
.right-0 {
  right: 0;
}
.right-2 {
  right: 0.5rem;
}
.left-3 {
  left: 0.75rem;
}
.left-2 {
  left: 0.5rem;
}
.right-6 {
  right: 1.5rem;
}
.top-16 {
  top: 4rem;
}
.left-0 {
  left: 0;
}
.top-50px {
  top: 50px;
}
.left-1 {
  left: 0.25rem;
}
.top-full {
  top: 100%;
}
.bottom-full {
  bottom: 100%;
}
.left-5 {
  left: 1.25rem;
}
.top-8 {
  top: 2rem;
}
.-left-1 {
  left: -0.25rem;
}
.-right-1 {
  right: -0.25rem;
}
.bottom-3 {
  bottom: 0.75rem;
}
.right-3 {
  right: 0.75rem;
}
.top-2 {
  top: 0.5rem;
}
.top-1\/2 {
  top: 50%;
}
.left-1\/2 {
  left: 50%;
}
.-top-10 {
  top: -2.5rem;
}
.-bottom-1 {
  bottom: -0.25rem;
}
.top-3 {
  top: 0.75rem;
}
.z-50 {
  z-index: 50;
}
.z-20 {
  z-index: 20;
}
.z-70 {
  z-index: 70;
}
.z-60 {
  z-index: 60;
}
.z-45 {
  z-index: 45;
}
.z-30 {
  z-index: 30;
}
.z-90 {
  z-index: 90;
}
.z-40 {
  z-index: 40;
}
.-z-1 {
  z-index: -1;
}
.z-10 {
  z-index: 10;
}
.z-0 {
  z-index: 0;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.-my-px {
  margin-top: -1px;
  margin-bottom: -1px;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mt-40 {
  margin-top: 10rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mt-2px {
  margin-top: 2px;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-auto {
  margin-left: auto;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-4 {
  height: 1rem;
}
.h-full {
  height: 100%;
}
.h-5 {
  height: 1.25rem;
}
.h-200px {
  height: 200px;
}
.h-12 {
  height: 3rem;
}
.h-screen {
  height: 100vh;
}
.h-8 {
  height: 2rem;
}
.h-70px {
  height: 70px;
}
.h-21px {
  height: 21px;
}
.h-400px {
  height: 400px;
}
.h-100px {
  height: 100px;
}
.h-150px {
  height: 150px;
}
.h-40px {
  height: 40px;
}
.h-1 {
  height: 0.25rem;
}
.h-\[3px\] {
  height: 3px;
}
.h-10 {
  height: 2.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-6 {
  height: 1.5rem;
}
.h-20 {
  height: 5rem;
}
.h-3 {
  height: 0.75rem;
}
.h-2 {
  height: 0.5rem;
}
.max-h-400px {
  max-height: 400px;
}
.max-h-200px {
  max-height: 200px;
}
.min-h-full {
  min-height: 100%;
}
.min-h-100px {
  min-height: 100px;
}
.w-full {
  width: 100%;
}
.w-4 {
  width: 1rem;
}
.w-64 {
  width: 16rem;
}
.w-screen {
  width: 100vw;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-5 {
  width: 1.25rem;
}
.w-100px {
  width: 100px;
}
.w-3 {
  width: 0.75rem;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-auto {
  width: auto;
}
.w-8 {
  width: 2rem;
}
.w-300px {
  width: 300px;
}
.w-3\/5 {
  width: 60%;
}
.w-150px {
  width: 150px;
}
.w-\[30px\] {
  width: 30px;
}
.w-2\/12 {
  width: 16.666667%;
}
.w-10\/12 {
  width: 83.333333%;
}
.w-1\/4 {
  width: 25%;
}
.w-10 {
  width: 2.5rem;
}
.w-7 {
  width: 1.75rem;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-20 {
  width: 5rem;
}
.w-1 {
  width: 0.25rem;
}
.w-200px {
  width: 200px;
}
.w-1\/2 {
  width: 50%;
}
.w-6 {
  width: 1.5rem;
}
.w-2 {
  width: 0.5rem;
}
.min-w-32 {
  min-width: 8rem;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.shrink-0 {
  flex-shrink: 0;
}
.origin-left {
  transform-origin: left;
}
.-translate-y-0\.5 {
  --tw-translate-y: -0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-0 {
  --tw-translate-y: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-2 {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1 {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-px {
  --tw-translate-y: 1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-full {
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-1\/2 {
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-4 {
  --tw-translate-y: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-rotate-12 {
  --tw-rotate: -12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-12 {
  --tw-rotate: 12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-50 {
  --tw-scale-x: .5;
  --tw-scale-y: .5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-text {
  cursor: text;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-default {
  cursor: default;
}
.grid-flow-row {
  grid-auto-flow: row;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.content-center {
  align-content: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-items-center {
  justify-items: center;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-1 {
  gap: 0.25rem;
}
.justify-self-center {
  justify-self: center;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-16px {
  border-radius: 16px;
}
.rounded-18px {
  border-radius: 18px;
}
.rounded-8px {
  border-radius: 8px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-4px {
  border-radius: 4px;
}
.rounded-20px {
  border-radius: 20px;
}
.rounded-10px {
  border-radius: 10px;
}
.rounded-12px {
  border-radius: 12px;
}
.rounded-bl-full {
  border-bottom-left-radius: 9999px;
}
.rounded-tl-full {
  border-top-left-radius: 9999px;
}
.rounded-br-full {
  border-bottom-right-radius: 9999px;
}
.rounded-tr-full {
  border-top-right-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-px {
  border-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-b-px {
  border-bottom-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-none {
  border-style: none;
}
.border-true-gray-150 {
  --tw-border-opacity: 1;
  border-color: rgb(235 235 235 / var(--tw-border-opacity));
}
.border-gray-light {
  --tw-border-opacity: 1;
  border-color: rgb(230 230 230 / var(--tw-border-opacity));
}
.border-blue-primary {
  --tw-border-opacity: 1;
  border-color: rgb(0 101 255 / var(--tw-border-opacity));
}
.border-blue-650 {
  --tw-border-opacity: 1;
  border-color: rgb(0 101 255 / var(--tw-border-opacity));
}
.border-gray-medium {
  --tw-border-opacity: 1;
  border-color: rgb(226 226 234 / var(--tw-border-opacity));
}
.border-blue-base {
  --tw-border-opacity: 1;
  border-color: rgb(0 101 255 / var(--tw-border-opacity));
}
.border-red-base {
  --tw-border-opacity: 1;
  border-color: rgb(252 61 48 / var(--tw-border-opacity));
}
.border-pearl {
  --tw-border-opacity: 1;
  border-color: rgb(239 242 245 / var(--tw-border-opacity));
}
.border-transparent {
  border-color: transparent;
}
.border-true-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
}
.border-opacity-70 {
  --tw-border-opacity: 0.70;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-true-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(235 248 255 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-blue-650 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 101 255 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-pearl {
  --tw-bg-opacity: 1;
  background-color: rgb(239 242 245 / var(--tw-bg-opacity));
}
.bg-blue-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(0 101 255 / var(--tw-bg-opacity));
}
.bg-red-base {
  --tw-bg-opacity: 1;
  background-color: rgb(252 61 48 / var(--tw-bg-opacity));
}
.bg-blue-light {
  --tw-bg-opacity: 1;
  background-color: rgb(230 240 255 / var(--tw-bg-opacity));
}
.bg-true-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 59 59 / var(--tw-bg-opacity));
}
.bg-blue-bibox {
  --tw-bg-opacity: 1;
  background-color: rgb(99 153 237 / var(--tw-bg-opacity));
}
.bg-green-base {
  --tw-bg-opacity: 1;
  background-color: rgb(3 167 124 / var(--tw-bg-opacity));
}
.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(158 158 158 / var(--tw-bg-opacity));
}
.bg-gray-light {
  --tw-bg-opacity: 1;
  background-color: rgb(230 230 230 / var(--tw-bg-opacity));
}
.bg-true-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity));
}
.bg-opacity-40 {
  --tw-bg-opacity: 0.40;
}
.bg-opacity-10 {
  --tw-bg-opacity: 0.10;
}
.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}
.fill-current {
  fill: currentColor;
}
.stroke-current {
  stroke: currentColor;
}
.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.object-center {
  object-position: center;
}
.p-1 {
  padding: 0.25rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-px {
  padding: 1px;
}
.p-4 {
  padding: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pb-8px {
  padding-bottom: 8px;
}
.pb-4px {
  padding-bottom: 4px;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pl-10 {
  padding-left: 2.5rem;
}
.pl-6 {
  padding-left: 1.5rem;
}
.pr-7 {
  padding-right: 1.75rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-full {
  padding-bottom: 100%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-14px {
  font-size: 14px;
}
.text-16px {
  font-size: 16px;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-24px {
  font-size: 24px;
}
.text-15px {
  font-size: 15px;
}
.text-40px {
  font-size: 40px;
}
.text-12px {
  font-size: 12px;
}
.text-18px {
  font-size: 18px;
}
.text-10px {
  font-size: 10px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-22px {
  font-size: 22px;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.uppercase {
  text-transform: uppercase;
}
.normal-case {
  text-transform: none;
}
.leading-20px {
  line-height: 20px;
}
.leading-26px {
  line-height: 26px;
}
.leading-none {
  line-height: 1;
}
.leading-18px {
  line-height: 18px;
}
.leading-24px {
  line-height: 24px;
}
.leading-32px {
  line-height: 32px;
}
.leading-30px {
  line-height: 30px;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-22px {
  line-height: 22px;
}
.leading-5 {
  line-height: 1.25rem;
}
.leading-12px {
  line-height: 12px;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.text-blue-650 {
  --tw-text-opacity: 1;
  color: rgb(0 101 255 / var(--tw-text-opacity));
}
.text-green-450 {
  --tw-text-opacity: 1;
  color: rgb(28 199 96 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-true-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(35 35 35 / var(--tw-text-opacity));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-gray-primary {
  --tw-text-opacity: 1;
  color: rgb(92 108 117 / var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(189 189 189 / var(--tw-text-opacity));
}
.text-blue-base {
  --tw-text-opacity: 1;
  color: rgb(0 101 255 / var(--tw-text-opacity));
}
.text-true-gray-450 {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity));
}
.text-blue-primary {
  --tw-text-opacity: 1;
  color: rgb(0 101 255 / var(--tw-text-opacity));
}
.text-true-gray-850 {
  --tw-text-opacity: 1;
  color: rgb(29 29 29 / var(--tw-text-opacity));
}
.text-current {
  color: currentColor;
}
.text-red-base {
  --tw-text-opacity: 1;
  color: rgb(252 61 48 / var(--tw-text-opacity));
}
.text-gray-dark {
  --tw-text-opacity: 1;
  color: rgb(160 160 160 / var(--tw-text-opacity));
}
.text-green-base {
  --tw-text-opacity: 1;
  color: rgb(3 167 124 / var(--tw-text-opacity));
}
.text-gray-blue {
  --tw-text-opacity: 1;
  color: rgb(85 102 128 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(158 158 158 / var(--tw-text-opacity));
}
.text-true-gray-350 {
  --tw-text-opacity: 1;
  color: rgb(185 185 185 / var(--tw-text-opacity));
}
.opacity-40 {
  opacity: 0.40;
}
.opacity-100 {
  opacity: 1;
}
.opacity-0 {
  opacity: 0;
}
.opacity-60 {
  opacity: 0.60;
}
.opacity-50 {
  opacity: 0.5;
}
.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-blue-outline {
  --tw-shadow: 0px 0px 0px 4px rgba(0, 101, 255, 0.1);
  --tw-shadow-colored: 0px 0px 0px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-trigger {
  --tw-shadow: 0px 6px 19px rgba(0, 0, 0, 0.08);
  --tw-shadow-colored: 0px 6px 19px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-400 {
  --tw-shadow: 0px 100px 80px rgba(0, 0, 0, 0.00843437), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0121168), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.015), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0178832), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0215656), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.03);
  --tw-shadow-colored: 0px 100px 80px var(--tw-shadow-color), 0px 41.7776px 33.4221px var(--tw-shadow-color), 0px 22.3363px 17.869px var(--tw-shadow-color), 0px 12.5216px 10.0172px var(--tw-shadow-color), 0px 6.6501px 5.32008px var(--tw-shadow-color), 0px 2.76726px 2.21381px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-small {
  --tw-shadow: 0px 2px 4px rgba(57, 61, 69, 0.06);
  --tw-shadow-colored: 0px 2px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-red-outline {
  --tw-shadow: 0px 0px 0px 4px rgba(255, 61, 46, 0.1);
  --tw-shadow-colored: 0px 0px 0px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.ring-gray-200 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(238 238 238 / var(--tw-ring-opacity));
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-none {
  transition-property: none;
}
.duration-200 {
  transition-duration: 200ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.duration-750 {
  transition-duration: 750ms;
}
.duration-400 {
  transition-duration: 400ms;
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.container {
  max-width: 1280px;
}

.overflow-x-scroll,
.overflow-y-scroll {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important;
}

.overflow-x-scroll::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar {
  display: none !important;
}

.hide-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important;
}

.font-family-rubik {
  font-family: "Rubik";
  font-weight: 400;
}

.font-family-rubik-light {
  font-family: "Rubik";
  font-weight: 300;
}

.font-family-rubik-medium {
  font-family: "Rubik";
  font-weight: 500;
}

.font-family-rubik-semi-bold {
  font-family: "Rubik";
  font-weight: 600;
}

.font-family-rubik-bold {
  font-family: "Rubik";
  font-weight: 700;
}

.font-family-rubik-extra-bold {
  font-family: "Rubik";
  font-weight: 800;
}

/* Start Inter */

.font-family-inter-light {
  font-family: "Inter Light", sans-serif;
  font-weight: 300;
}

.font-family-inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.font-family-inter-medium {
  font-family: "Inter Medium", sans-serif;
  font-weight: 500;
}

.font-family-inter-semi-bold {
  font-family: "Inter SemiBold", sans-serif;
  font-weight: 600;
}

.font-family-inter-bold {
  font-family: "Inter Bold", sans-serif;
  font-weight: 700;
}

.font-family-inter-extra-bold {
  font-family: "Inter ExtraBold", sans-serif;
  font-weight: 800;
}

.font-family-inter-black {
  font-family: "Inter Black", sans-serif;
  font-weight: 900;
}

/* END Inter */

.font-family-schoolbell {
  font-family: "Schoolbell";
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.gradient-to-bottom-black {
  background-image: linear-gradient(180deg, #151517 0%, rgba(0, 0, 0, 0) 100%);
}

.gradient-to-top-black {
  background-image: linear-gradient(0deg, #151517 0%, rgba(0, 0, 0, 0) 100%);
}

.fire-gradient {
  background-image: linear-gradient(45deg, #ff9a44 0%, #ff531c 100%);
}

div.rec.rec-slider div div:focus,
div.rec.rec-slider div:focus,
div.rec.rec-item-wrapper:focus {
  outline: 0;
}

div.rec.rec-slider-container {
  min-width: 119% !important;
}

div.rec.rec-item-wrapper {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.light-gradient {
  background-image: linear-gradient(270deg, #f9f9f9 7.06%, #fefefe 96.82%);
}

.gradient-counter {
  background: linear-gradient(104.27deg, #fdfbfb 3.26%, #fefefe 100%);
}

.shadow-counter {
  box-shadow: inset 0px 2px 4px rgba(192, 192, 192, 0.25);
}

.bar1,
.bar3 {
  width: 20px;
  height: 2px;
  margin: 3px auto;
  transition: 0.4s;
}

.invis {
  width: 20px;
  height: 2px;
  margin: 3px auto;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-3px, 4px);
}

.bg-gradient-graphite {
  background: linear-gradient(135deg, #201f24 0%, #060606 100%);
}

.bg-gradient-colorfull {
  background: radial-gradient(
      19.49% 58.52% at 50% 0%,
      rgba(60, 249, 90, 0.3) 0%,
      rgba(1, 231, 231, 0) 100%
    ),
    radial-gradient(
      50% 50% at 100% 100%,
      #6120eb 10.27%,
      rgba(159, 115, 255, 0) 100%
    ),
    radial-gradient(
      77.86% 77.86% at 100% 0%,
      #00a7ff 0%,
      rgba(0, 166, 254, 0.17) 100%
    ),
    radial-gradient(50% 50% at 0% 0%, #6cffa7 0%, rgba(6, 254, 209, 0.18) 100%),
    radial-gradient(
      70.24% 70.24% at 0% 100%,
      #e81d72 0%,
      rgba(255, 0, 0, 0) 100%
    );
  background-blend-mode: overlay, normal, normal, color-dodge, normal;
  mix-blend-mode: normal;
}

.filter-blur-48px {
  filter: blur(48px);
}

.change .bar3 {
  transform: rotate(45deg) translate(-3px, -4px);
}

.version-gradient {
  background: linear-gradient(133.44deg, #f4faff 6.7%, #dcdffc 96.14%);
}

strong {
  color: #0065ff;
  font-weight: normal;
}

em {
  background: -webkit-linear-gradient(180deg, #d886ff 2.5%, #2c9aff 96.79%);
  -webkit-background-clip: text;
  font-style: normal;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
}

/* настройки слайдера */

.slick-slide div {
  outline: none;
}

.custom-slick-slider {
  display: flex;
  justify-content: center;
  padding-top: 33px;
}

.custom-slick-slider li {
  margin-right: 10px;
  width: 30px;
  display: flex;
  justify-content: center;
  height: 10px;
}

.custom-slick-slider li button {
  background-color: #c6c6c6;
  transition: width 0.3s, background-color 0.3s;
  outline: none;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.custom-slick-slider .slick-active button {
  background-color: #f5ba0e;
  width: 29px;
  border-radius: 20px;
}

/* классы для тултипа */
.tooltip-left-bottom {
}

.tooltip-left-bottom:before {
  position: absolute;
  z-index: 10;
  content: "";
  width: 0;
  height: 0;
  margin-left: 0;
  bottom: 0;
  top: calc(50% - 5px);
  left: 0;
  box-sizing: border-box;

  border: 5px solid black;
  border-color: transparent transparent #f4f4f4 #f4f4f4;

  transform-origin: 0 0;
  transform: rotate(45deg);
}

.tooltip-left-bottom:after {
  z-index: -10;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 0;
  bottom: 0;
  top: calc(50% - 5px);
  left: 0;
  box-sizing: border-box;

  border: 5px solid #f4f4f4;
  border-color: transparent transparent #f4f4f4 #f4f4f4;

  transform-origin: 0 0;
  transform: rotate(45deg);

  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.01),
    0px 42px 33px rgba(0, 0, 0, 0.0121168), 0px 22px 18px rgba(0, 0, 0, 0.01),
    7px 12px 10px rgba(0, 0, 0, 0.0178832), 3px 7px 5px rgba(0, 0, 0, 0.0215656),
    0px 3px 2px rgba(0, 0, 0, 0.03);
}

.tooltip-left-top {
}

.tooltip-right-bottom {
}

.tooltip-left-top {
}

.tooltip-bottom-right {
}

.tooltip-bottom-left {
}

.tooltip-top-right {
}

.tooltip-top-left {
}

.blur-button {
  background: radial-gradient(
    44.96% 391.37% at 49.64% 50%,
    #15b9ff 2.67%,
    #72fff7 100%
  );
  box-shadow: 0px 0px 29.9565px rgba(87, 215, 255, 0.5),
    inset 0px 6.91304px 25.3478px #34b6ff,
    inset 0px -6.91304px 9.21739px rgba(215, 255, 226, 0.81);
  border-radius: 76.0435px;
  background-image: url("/assets/images/blur-button-bg.png");
  background-size: cover;
  text-shadow: 0px 3px 8px rgba(0, 117, 255, 0.7);
  animation: filter-animation 6s ease infinite;
}

.action-button {
  background: linear-gradient(270deg, #b2df00 0%, #7ee100 100%);
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.action-button:hover {
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.0217013),
    0px 18.2508px 14.6007px rgba(0, 0, 0, 0.0310596),
    0px 8.86044px 7.08835px rgba(0, 0, 0, 0.0389404),
    0px 4.34355px 3.47484px rgba(0, 0, 0, 0.0482987),
    0px 1.71745px 1.37396px rgba(0, 0, 0, 0.07);
}
.action-button p {
  filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.1));
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(75deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:cursor-default:hover {
  cursor: default;
}

.hover\:border-blue-650:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 101 255 / var(--tw-border-opacity));
}

.hover\:border-blue-primary:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 101 255 / var(--tw-border-opacity));
}

.hover\:border-blue-base:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 101 255 / var(--tw-border-opacity));
}

.hover\:border-red-base:hover {
  --tw-border-opacity: 1;
  border-color: rgb(252 61 48 / var(--tw-border-opacity));
}

.hover\:border-opacity-70:hover {
  --tw-border-opacity: 0.70;
}

.hover\:bg-gray-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(85 102 128 / var(--tw-bg-opacity));
}

.hover\:bg-gray-accent:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 242 246 / var(--tw-bg-opacity));
}

.hover\:bg-blue-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 101 255 / var(--tw-bg-opacity));
}

.hover\:bg-opacity-60:hover {
  --tw-bg-opacity: 0.60;
}

.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.hover\:text-blue-base:hover {
  --tw-text-opacity: 1;
  color: rgb(0 101 255 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-blue-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(0 101 255 / var(--tw-text-opacity));
}

.hover\:text-blue-650:hover {
  --tw-text-opacity: 1;
  color: rgb(0 101 255 / var(--tw-text-opacity));
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.hover\:opacity-70:hover {
  opacity: 0.70;
}

.hover\:shadow-blue-outline:hover {
  --tw-shadow: 0px 0px 0px 4px rgba(0, 101, 255, 0.1);
  --tw-shadow-colored: 0px 0px 0px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-red-outline:hover {
  --tw-shadow: 0px 0px 0px 4px rgba(255, 61, 46, 0.1);
  --tw-shadow-colored: 0px 0px 0px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:outline-none:hover {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:border-blue-primary:focus {
  --tw-border-opacity: 1;
  border-color: rgb(0 101 255 / var(--tw-border-opacity));
}

.focus\:bg-blue-650:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(0 101 255 / var(--tw-bg-opacity));
}

.focus\:text-white:focus {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:shadow-blue-outline:focus {
  --tw-shadow: 0px 0px 0px 4px rgba(0, 101, 255, 0.1);
  --tw-shadow-colored: 0px 0px 0px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:bg-blue-650 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 101 255 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-blue-primary-dark {
  --tw-text-opacity: 1;
  color: rgb(0 89 225 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.dark .dark\:border-true-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(59 59 59 / var(--tw-border-opacity));
}

.dark .dark\:border-true-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(35 35 35 / var(--tw-border-opacity));
}

.dark .dark\:border-true-gray-750 {
  --tw-border-opacity: 1;
  border-color: rgb(47 47 47 / var(--tw-border-opacity));
}

.dark .dark\:bg-true-gray-750 {
  --tw-bg-opacity: 1;
  background-color: rgb(47 47 47 / var(--tw-bg-opacity));
}

.dark .dark\:bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(32 120 255 / var(--tw-bg-opacity));
}

.dark .dark\:bg-true-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(35 35 35 / var(--tw-bg-opacity));
}

.dark .dark\:bg-true-gray-850 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 29 / var(--tw-bg-opacity));
}

.dark .dark\:bg-true-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 59 59 / var(--tw-bg-opacity));
}

.dark .dark\:bg-true-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
}

.dark .dark\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .dark\:text-blue-650 {
  --tw-text-opacity: 1;
  color: rgb(0 101 255 / var(--tw-text-opacity));
}

.dark .dark\:hover\:border-blue-600:hover {
  --tw-border-opacity: 1;
  border-color: rgb(32 120 255 / var(--tw-border-opacity));
}

.dark .dark\:hover\:bg-opacity-80:hover {
  --tw-bg-opacity: 0.80;
}

@media (min-width: 640px) {

  .sm\:top-40px {
    top: 40px;
  }

  .sm\:block {
    display: block;
  }

  .sm\:max-h-300px {
    max-height: 300px;
  }

  .sm\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:translate-x-full {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:-translate-x-0 {
    --tw-translate-x: -0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:scale-95 {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-items-center {
    justify-items: center;
  }

  .sm\:gap-6 {
    gap: 1.5rem;
  }

  .sm\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-12px {
    font-size: 12px;
  }

  .sm\:hover\:scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 768px) {

  .md\:hidden {
    display: none;
  }

  .md\:w-4\/5 {
    width: 80%;
  }

  .md\:w-360px {
    width: 360px;
  }

  .md\:p-8 {
    padding: 2rem;
  }

  .md\:text-26px {
    font-size: 26px;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-22px {
    font-size: 22px;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:leading-7 {
    line-height: 1.75rem;
  }

  .md\:leading-27px {
    line-height: 27px;
  }

  .md\:leading-6 {
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {

  .lg\:fixed {
    position: fixed;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {

  .xl\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
